<!DOCTYPE html>

<!-- The doctype declares the type of coding the HTML page uses so that the browser knows how to render it. -->

<!-- The  html tag contains everything on the page: head and body-->
<html lang="en">

  <!-- The "head" container includes all the information the browser needs to display the page -->
  <head>
    <!-- the "meta" tag is used to provide, ah, meta-information about the page. 
         This one is another method to the browser what this content is and what character set we are using 
    -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <!-- edit the title to include client content-->
    <title>Telling Touch</title>
    
    <!-- The "link" tag identifies your external CSS style sheet. Edit this link to use your particular file  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/template.css" />
  	
    <!-- the "style" tag container includes this page's unique style rules -->
    <style type="text/css">
  		{p, li {color: black;}
  	</style>
  </head>

  <!-- The "body" tag container includes the structure and content of the page -->
  <body>

    <div class="container"> <!-- contains everything on the page; used for centering and margins-->

    	<header> <!-- contains the constant stuff at the top of the page -->

       	<div class="page_heading">
          <h1>Telling Touch<p></P></h1>
          <h2> <p>Get in touch with your true self</p></h2>
          <div id="logo">
          <img src="client_assets/logo.jpg" alt"Photo Credit: The Tedster http://flikr.com/14646291@N04/8353617707">
          </logo>
        </div>
      	      
      </header>
  <div class="main">
        <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <p></P>
          <img src="client_assets/headshot.jpg" alt="Photo Credit: Pat David  http://www.flikr/com/photos/39707801@N001214643804">
        </ul>
        </nav>
    <div class="articles">
    	<article>
      	<div class="article_heading">
      	 <h1>About Telling Touch</h1> <i>03/17/2014</i>
      	</div>
      	<div class="article_content">
          <p>About Us</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra ultricies nibh, in interdum tellus ultrices id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse urna lorem, imperdiet a mattis sed, blandit id elit. Proin id ultrices odio. Vivamus ut nisl nulla.</p>
      	</div>		
    	</div>
      </article>

    </articles>
    	<!-- the footer area sits at the bottom of the page -->
  </main>
    	<footer>
        <!-- edit the footer to include your name  -->
    	 Copyright &copy; 2014 <i>Telling Touch</i>
    	</div>
  	</div>  <!-- .container -->
      </footer>

  </body>
</html>